<div class="titulos">Bienvenido al juego de Rayuela</div>
<br><br>
<div>Este es un juego para dos jugadores
<br><br>
Ingresa los nombres de los jugadores
</div>
<br><br>

<form action="/game" method="post"> 

  Nombre de jugador 1:
  <input type="text" name="jugador">

<br><br>

  Nombre de jugador 2:
  <input type="text" name="rival">

<br><br>

  <button>Jugar</button>


</form> 

